{% extends 'base.html' %}
{% block content %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
	<div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
		<h1> <span class="main_back_span">Biz bilen bolmak,</span><br>Diňe öňe gitmek</h1>
		<h2>Ähli hyzmatlatymyz elýeterli, ynamly hem-de tiz!</h2>
	</div>
</section><!-- End Hero -->

<!-- ======= About Section ======= -->
<section id="about" class="about">
	<div class="container" data-aos="fade-up">

		<div class="row">
			<div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
				<img src="/media/logo/Brendýoly Kompaniýa wariant 6.png" class="img-fluid img_about" alt="">
			</div>
			<div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
				<h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
				<p class="fst-italic">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
					et dolore
					magna aliqua.
				</p>
				<ul>
					<li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
					<li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.
					</li>
					<li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
						aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat
						nulla pariatur.</li>
				</ul>
				<p>
					Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
					voluptate
				</p>

			</div>
		</div>

	</div>
</section><!-- End About Section -->

<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
	<div class="container" data-aos="fade-up">

		<div class="row">
			<div class="col-lg-4 d-flex align-items-stretch">
				<div class="content">
					<h3>Näme üçin bizi saýlamaly?</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
						Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad
						corporis.
					</p>
					<div class="text-center">
						<a href="about.html" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
				<div class="icon-boxes d-flex flex-column justify-content-center">
					<div class="row">
						<div class="col-xl-4 d-flex align-items-stretch">
							<div class="icon-box mt-4 mt-xl-0">
								<i class="bx bx-receipt"></i>
								<h4>Corporis voluptates sit</h4>
								<p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip
								</p>
							</div>
						</div>
						<div class="col-xl-4 d-flex align-items-stretch">
							<div class="icon-box mt-4 mt-xl-0">
								<i class="bx bx-cube-alt"></i>
								<h4>Ullamco laboris ladore pan</h4>
								<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
								</p>
							</div>
						</div>
						<div class="col-xl-4 d-flex align-items-stretch">
							<div class="icon-box mt-4 mt-xl-0">
								<i class="bx bx-images"></i>
								<h4>Labore consequatur</h4>
								<p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
							</div>
						</div>
					</div>
				</div><!-- End .content-->
			</div>
		</div>

	</div>
</section><!-- End Why Us Section -->

<main class="container mt-3 mb-5 container_main_home">
	<!-- featured news -->
	<div class="row my-3">
		<!-- Left -->
		<div class="col-md-7">
			<div class="card mb-3">
			  <img src="media/{{first_news.image}}" class="card-img-top" alt="{{first_news.title}}">
			  <div class="card-body">
			    <h5 class="card-title">{{first_news.title}}</h5>
			    <hr/>
			    <p class="card-text"><a href="/detail/{{first_news.id}}" class="btn btn-sm btn-success">Read Full</a></p>
			  </div>
			</div>
		</div>
		<!-- Right -->
		<div class="col-md-5" style="max-height: 450px; overflow: auto;">
			{% for news in three_news %}
			<!-- News Box -->
			<div class="card">
			  <div class="row no-gutters">
			    <div class="col-md-4">
					<img src="media/{{news.image}}" class="card-img-top" alt="{{news.title}}">
			    </div>
			    <div class="col-md-8">
			      <div class="card-body">
			        <h5 class="card-title">{{news.title}}</h5>
			        <p class="card-text"><a href="/detail/{{news.id}}" class="btn btn-sm btn-success">Doly görmek</a></p>
			      </div>
			    </div>
			  </div>
			</div>
			<hr/>
			{% endfor %}
		</div>
	</div>
	<!-- Category Wise News -->
	{% for category in three_categories %}
	<h3 class="border-bottom pb-1">{{category.title}} <a href="/category/{{category.id}}" class="float-right btn btn-sm btn-dark">Kategoriýa girmek</a></h3>
	<div class="row my-4">
		{% for news in category.news_set.all %}
			{% if forloop.counter < 5 %}
			<!-- News box -->
			<div class="col-md-3">
				<div class="card mb-3 shadow">
				<img src="/media/{{news.image}}" class="card-img-top" alt="{{news.title}}">
				<div class="card-body">
					<h5 class="card-title">{{news.title}}</h5>
					<hr/>
					<p class="card-text"><a href="#" class="btn btn-sm btn-success">Doly görmek</a></p>
				</div>
				</div>
			</div>
			{% endif %}
		{% endfor %}
	</div>
	{% endfor %}
	<!-- End Single Category -->
</main>
{% endblock %}
